{% extends 'base.html.twig' %}

{% block titleTwig %}Client index{% endblock %}

{% block bodyTwig %}

        {% for clientAafficher in clientsTwig %}

        {% else %}
                <div>Rien</div>
        {% endfor %}

{% endblock %}
