<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="/CssSimple/style.css" rel="stylesheet">
        <title>{% block titleTwig %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}

    </head>
    <body>
        {% block bodyTwig %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>
